<ion-header>
  <ion-toolbar>
    <ion-title>{{product.productName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Kapat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row mb-3">
    <div class="col-12">
      <img style="width: 100%;height: auto;" [src]="product.imageUrl" [alt]="product.productName">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 mb-3">
      <div class="text-primary" style="text-align: center;"><i>{{product.productName}}</i></div>
      <div style="text-align: center;">{{product.description}}</div>
    </div>
    <div class="col-8 mb-3" *ngIf="product.isDiscount"><del
        class="text-muted">{{product.unitPrice |currency:'TRY'}}</del>
    </div>
    <div class="col-8 mb-3">
      {{product.unitPrice |discount:product.discount:product.isDiscount |currency:'TRY'}}
      <span style="font-size: medium;" class="badge bg-danger" *ngIf="product.isDiscount">-{{product.discount}}%</span>
    </div>
    <div class="col-8 mb-3">
      <button (click)="addToCart()" [disabled]="product.stock==0" class="card-link btn btn-primary">Sepete Ekle</button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 mb-3">
      <!-- <h5 class="">Değerlendir</h5> -->
      <div class="row">
        <form [formGroup]="form">
          <div class="col-12">
            <ion-textarea formControlName="message" style="font-size: medium; border:1px solid gray"></ion-textarea>
          </div>
          <div class="col-12" style="font-size: medium;">
            <ion-checkbox formControlName="isLike" color="success"></ion-checkbox> Bu Ürünü Beğendim
          </div>
        </form>
        <div class="col-12">
          <ion-button [disabled]="!form.valid" style="font-size: medium;" (click)="commentDo()" shape="round">
            Değerlendir
          </ion-button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h5 class="">Değerlendirmeler <ion-icon name="chatbubbles-outline"></ion-icon></h5>
    </div>
    <!-- Comment -->
    <span class="alert alert-info" *ngIf="comments.length==0">Henüz Yorum Yapılmamış</span>
    <div class="col-12 mb-3" *ngFor="let comment of comments">
      <div class="row card">
        <div class="col-12 card">
          <div class="row p-1">
            <div class="col-2"><img src="../../assets/user.png" width="50" alt=""></div>
            <div class="col-10">{{comment.user.firstName}} {{comment.user.lastName}}</div>
          </div>
        </div>
        <div class="col-12 card p-3" style="font-size: medium;">
          {{comment.message}}
        </div>
        <p >
          <span style="font-size: medium;" class="text-success" *ngIf="comment.isLike">
            Bu ürünü beğendi <ion-icon name="checkmark-outline"></ion-icon>
          </span>
          <span style="font-size: medium;" class="text-danger" *ngIf="!comment.isLike">
            Bu ürünü beğenmedi <ion-icon name="close-outline"></ion-icon>
          </span>
        </p>
      </div>
    </div>
    <!-- Comment End -->
  </div>
</ion-content>
