<ion-header>
  <ion-toolbar>
    <ion-title>Siparişlerim</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="orders.length==0" style="margin-top:20%;" routerLink="/home" expand="block" shape="round">
    Henüz siparişin yok sipariş vermeye başla
  </ion-button>
  <div class="card mb-3" style="width: 18rem;margin:auto;" *ngFor="let order of orders">
    <ul class="list-group" *ngFor="let cart of order.carts">
      <li class="list-group-item">
        <img [src]="cart.product.imageUrl" style="width: 50px;" class="card-img-top" [alt]="cart.product.productName">
        {{cart.product.productName.substring(0,10)}}... |
        <a class="text-primary" (click)="showProductModal(cart.product)">Ürün Detayı</a>
      </li>
    </ul>
    <div class="card-body">
      <h5 class="card-title text-primary">{{order.totalPrice | currency:'TRY'}}</h5>
      <p class="card-text">{{order.addressText}}</p>
      <p class="card-text">{{order.city}}</p>
      <p class="card-text text-primary" *ngIf="order.orderDate">{{order.orderDate}}</p>
    </div>
  </div>
</ion-content>
