<ion-header>
  <ion-toolbar>
    <ion-title>Kullanıcı Güncelle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteUser()" color="danger">
        Sil
      </ion-button>
      <ion-button (click)="dismiss()">
        Kapat
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userUpdateForm">
    <ion-item>
      <ion-label position="floating">Adı</ion-label>
      <ion-input formControlName="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Soyadı</ion-label>
      <ion-input formControlName="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Eposta</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Şifre</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Roller</ion-label>
      <ion-input formControlName="roles" placeholder="User,Moderator"></ion-input>
    </ion-item>
  </form>
  <ion-button [disabled]="!userUpdateForm.valid" (click)="saveUser()" expand="block" shape="round">
    Kaydet
  </ion-button>
</ion-content>
