<ion-header>
  <ion-toolbar>
    <ion-title>Alışverişi Tamamla</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="showPaymentModal()">
        Tamamla
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let cart of carts">
    <div class="row g-0">
      <div class="col-4">
        <img [src]="cart.product.imageUrl" class="img-fluid rounded-start" alt="cart.product.productName">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{cart.product.productName}}</h5>
          <p class="card-text">{{cart.product.description}}</p>
          <p *ngIf="cart.product.isDiscount">
            <del class="text-muted">{{cart.product.unitPrice*cart.quantity | currency:'TRY'}}</del>
          </p>
          <p>
            {{cart.product.unitPrice*cart.quantity | discount:cart.product.discount:cart.product.isDiscount | currency:'TRY'}}
            <span class="badge bg-danger" *ngIf="cart.product.isDiscount">-{{cart.product.discount}}%</span>
          </p>
          <div class="row">
            <div class="col-4">
              <p class="card-text"><span class="text-primary">{{cart.quantity}} Adet</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
